html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


.tennis-ball {
  position: fixed;
  top: 50vh;
  left: -80px;
  font-size: 10.0rem;
  z-index: 9999;
  animation: fly-across 0.75s ease-out forwards;
  pointer-events: none;
}

@keyframes fly-across {
  0% {
      transform: translateX(0) rotate(0deg);
  }
  100% {
      transform: translateX(110vw) rotate(720deg);
  }
}
